/*
Error: Required argument $text-color must come before any optional arguments.
        on line 5 of mixins/scss/partial/_mixins.scss
        from line 2 of mixins/scss/main.scss

1: @mixin border($width: 4px) {
2:   border-width: 0 1px $width 1px;
3: }
4: 
5: @mixin alert-variant($background, $border : #efefef, $text-color) {
6:   background-color: $background;
7:   border-color: $border;
8:   color: $text-color;
9: 
10:   hr {

Backtrace:
mixins/scss/partial/_mixins.scss:5
mixins/scss/main.scss:2
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/script/parser.rb:567:in `block in defn_arglist!'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/script/parser.rb:557:in `loop'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/script/parser.rb:557:in `defn_arglist!'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/script/parser.rb:157:in `parse_mixin_definition_arglist'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1063:in `sass_script'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:232:in `mixin_directive'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:222:in `special_directive'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:197:in `directive'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:677:in `block_contents'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/engine.rb:315:in `to_tree'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Required argument $text-color must come before any optional arguments.\A         on line 5 of mixins/scss/partial/_mixins.scss\A         from line 2 of mixins/scss/main.scss\A \A 1: @mixin border($width: 4px) {\A 2:   border-width: 0 1px $width 1px;\A 3: }\A 4: \A 5: @mixin alert-variant($background, $border : #efefef, $text-color) {\A 6:   background-color: $background;\A 7:   border-color: $border;\A 8:   color: $text-color;\A 9: \A 10:   hr {"; }
